*{
  transition: all 0.3s ease-in-out;
}

label{
  text-transform: uppercase;
  color: grey;
}

textarea{
  color: black;
  font-weight: 500;
  background: white;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
  resize: none;
}

input, 
textarea,
label{
  display: block;
  width: clamp(400px, 30vw, 30vw);
}
textarea:hover, 
input:hover{
  opacity: 0.5;
}

textarea::placeholder{
  color: black;
}

input[type="submit"]{
  text-transform: uppercase;
  font-weight: 300;
  background: darkblue;
  color: white;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}